<section class="contact">
  <div class="chat">
   <h2> ¿HABLAMOS?</h2>
   <h3> puedes contactarme en: </h3>
  </div>
  <div class="socialmedia">
          <ul class="logos">
            <li>
              <a href="https://twitter.com/MariandelaOsa" title="ir a twitter de Marián de la Osa" target="_blank">
                <i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/marian-de-la-osa-izquierdo-89a31643/"
                title="ir a linkedin de Marián de la Osa" target="_blank">
                <i class="fab fa-linkedin-in" title="linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/Mdelaosaiz" title="ir a github de Marián de la Osa" target="_blank">
                <i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:mariandelaosa@gmail.com" title="mandar correo a Marián de la Osa" target="_blank">
                <i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
  
</section>