<section class="main">
  <div> 
    <img class ="portrait" src="./assets/images/retrato.png" alt="fotografía Marian">
  </div>
 <div class="welcome" id="welcome">
    <h2> ¡Encantada!<br> Soy Marián de la Osa</h2> 
    <h3> ¡Front-End y Maestra!</h3> 
    <h4>
    En Agosto del 2019, después de haber trabajado durante 12 años en la educación, sentí la necesidad de dar un giro de 180º a mi vida.<br> Busqué diferentes opciones:  historia, psicología... pero ninguna tenía salidas profesionales que me ofreciesen un buen futuro. <br> Un grupo de amigos me aseguró que, con la creatividad que amuebla mi cabecita; me iba a gustar la programación Front-end así que... me lancé a por ello. Gracias a un bootcamp descubrí que no estaba mal y en cosa de unos meses ya tenía dos proyectos en camino !y muchos más en mente!<br>Como buena maestra, siempre estoy aprendiendo y cotilleando diferentes maneras de hacer y/o mejorar las cosas.<br>
    Me considero una persona sencilla, alegre y activa. Me gusta mucho animar a los demás y aprotar toda mi energía para que las cosas salgan bien.<br> Y siempre soy feliz si estoy rodeada de:
  </h4>
  <ul class="hobbies-list"> 
    <li> <small>Mis gatos</small>
     <img src="https://icons.iconarchive.com/icons/iconka/meow/72/cat-purr-icon.png" title="Gatitos"> </img>
    </li>
    <li> <small>Mis jabones</small>
      <img src="https://icons.iconarchive.com/icons/zyotism/fight-club/128/Paper-Street-Soap-Co.-icon.png" title="Negocio de Jabones Artesanales"> </li>
    </li>
    <li> <small>Mis plantas</small>
     <img src="https://icons.iconarchive.com/icons/xaml-icon-studio/agriculture/72/Fruits-Vegetables-icon.png" title="Adoro cuidar mi huerto urbano"> </img>
    </li>
    <li> <small>Mis cocinitas</small>
     <img src="https://icons.iconarchive.com/icons/artua/ukrainian-motifs/64/Bowl-Full-icon.png" title="Disfruto cocinando"> </img>
    </li>
    <li> <small>Mis deportes</small>
     <img src="https://icons.iconarchive.com/icons/sportsbettingspot/summer-olympics/72/archery-icon.png" title="Tiro con arco"> </img>
    </li>
  </ul> 
</div>
 
</section>
