<section class="main">
  <div>
    <img class="portrait" src="./assets/images/retrato.png" alt="Retrato Marian">
  </div>
 <div class="welcome">
    <h1>¡ Bienvenido Mundo !</h1>
    <h2> Soy Marián de la Osa</h2> 
    <h3> Desarrolladora Front-End Junior ¡y Maestra!<br>
    En Agosto del 2019 sentí la necesidad de dar un vuelco tanto a mi vida como a mi carrera profesional y, gracias a un bootcamp de Front-end, ¡descubrí la programación! En cosa de unos meses ya tenía dos proyectos en camino !y muchos más en mente!<br>
     Gracias a mi capacidad de auto-aprendizaje, de adaptación y de gestión del estrés, he conseguido muy buenos resultados en lo que me propongo. <br>
     Mi meta es abrirme paso en el mundo de la programación, de forma porfesional y en un trabajo que me permita asentar todo lo aprendido y seguir saciando mi sed de conocimientos.<br>
    </h3>
 </div>
 
</section>
