<section class="main">
  <div> 
    <img class ="portrait" src="../../assets/images/retrato.png" alt="fotografía Marian">
  </div>
 <div class="welcome">
    <h2> ¡HOLA! Soy Marián de la Osa</h2> 
    <h3> Front-End ¡y Maestra!</h3> 
    <h4>
    En Agosto del 2019 sentí la necesidad de dar un vuelco tanto a mi vida como a mi carrera profesional y, gracias a un bootcamp de Front-end, ¡descubrí la programación! En cosa de unos meses ya tenía dos proyectos en camino !y muchos más en mente!<br>
    Siempre he sido una persona a la que le gusta aprender y probar cosas nuevas y en este mundo, ¡hay mucho de ambas cosas! <br>
  </h4>
  <div class="hobbies">
    <h4><strong>AFICIONES: </strong></h4>
    
  </div>

 </div>
 
</section>


<!-- <ul class="hobbies-list"> 
  <li> 
    <img src="./assets/images/soap.png" title="Negocio de Jabones Artesanales"> </li>
  </li>
  <li> 
    <img src="./assets/images/huerto.png" title="Adoro cuidar mi huerto urbano"> </img>
  </li>
  <li>
    <img src="./assets/images/cocinero.png" title="Disfruto cocinando"> </img>
  </li>
  <li>
    <img src="./assets/images/arco.png" title="Campeona de españa de tiro con arco"> </img>
  </li>
  <li> 
    <img src="./assets/images/gato.png" title="No puedo vivir sin mis gatos"> </img>
  </li>
</ul> -->