<section class="proyects-section" id="projects">
  <h3>¡Manos a la obra!</h3>
  <h2>En esta sección os presento los proyectos que he realizado hasta el momento</h2>
  <div class="projects"> 
    <div class ="project project1">
      <ul>
        <li class="tools">
          <img class="js" src="./assets/images/js.png" alt="JavaScript"/>
          <img class="css" src="./assets/images/CSS.png" alt="CSS"/>
          <img class="html" src="./assets/images/html.png" alt="HTLM"/>
        </li>
      </ul>
    </div>
    <div class ="project project2">
      <ul>
        <li class="tools">
          <img class="css" src="./assets/images/CSS.png" alt="CSS"/>
          <img class="html" src="./assets/images/html.png" alt="HTLM"/>
        </li>
      </ul>
    </div>
    <div class ="project project3">
      <ul>
        <li class="tools">
          <img class="js" src="./assets/images/js.png" alt="JavaScript"/>
          <img class="css" src="./assets/images/CSS.png" alt="CSS"/>
          <img class="html" src="./assets/images/html.png" alt="HTLM"/>
        </li>
      </ul>
    </div>
    <div class ="project project4">
      <ul>
        <li class="tools">
          <img class="js" src="./assets/images/js.png" alt="JavaScript"/>
          <img class="css" src="./assets/images/CSS.png" alt="CSS"/>
          <img class="html" src="./assets/images/html.png" alt="HTLM"/>
          <img class="react" src="./assets/images/react.png" alt="HTLM"/>
        </li>
      </ul>
    </div>
    <div class ="project project5">
      <ul>
        <li class="tools">
          <img class="js" src="./assets/images/js.png" alt="JavaScript"/>
          <img class="css" src="./assets/images/CSS.png" alt="CSS"/>
          <img class="html" src="./assets/images/html.png" alt="HTLM"/>
          <img class="react" src="./assets/images/react.png" alt="HTLM"/>
        </li>
      </ul>
    </div>
  </div>
</section>