<section class="proyects-section">
  <h3>sección de proyectos</h3>
  <div class="projects"> 
    <div class ="project project1">
      <ul>
        <li></li>
      </ul>
    </div>
    <div class ="project project2">
      <ul>
        <li></li>
      </ul>
    </div>
    <div class ="project project3">
      <ul>
        <li></li>
      </ul>
    </div>
    <div class ="project project4">
      <ul>
        <li></li>
      </ul>
    </div>
    <div class ="project project5">
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</section>