// fonts
$font-primary: 'Vollkorn', serif;

// colors
$color-white: #f3f4f5;
$color-dark: black;
$color-primary:  purple;
$color-primary-medium:  rgb(216, 1, 216);
$color-primary-light: rgb(236, 214, 236);
$color-secondary:Green;
$color-secondary-light: #77C680;
$color-tertiary: rgb(226, 137, 2);

